/*@font-face {
  font-family: bebasneue;
  src: url(bebas_neue/BebasNeueRegular.otf);
  font-weight: normal;
}*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
.intro-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(#ebeef4, white);
}

.name-cont {
}

h1 {
  margin: 0 auto;
  font-size: 7em;
}

h2 {
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}

.down-arrow {
  position: absolute;
  bottom: 0;
  width: 4%;
  margin-bottom: 5px;
  transition: margin-bottom .3s;
}

.down-arrow:hover {
  margin-bottom: 0;
}

.content-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(white, #aeb2c4);
}

.subcont {
  height: 95%;
  width: 45%;
  border-radius: .5em;
  transition: box-shadow 1.7s;
  background: linear-gradient(white, #ebeef4);
}

.boxshadow {
  box-shadow: 0 3px 2px 3px rgba(0, 0, 0, .2);
}

.divider {
  width: 4%;
}

.subcont h3 {
  padding-left: 8%;
  padding-top: 2%;
  font-size: 2em;
}
