@font-face {
  font-family: "Myriad Pro";
  src: url(font/myriad-pro.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Marion";
  src: url(font/marion.ttf);
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.intro-cont {
  background: #1A1A1A;
  position: relative;
  text-align: center;
}

#background-img {
  opacity: 0.26;
  filter: alpha(opacity=26) progid:DXImageTransform.Microsoft.Alpha(opacity=26);
  width: 100%;
}

h1 {
  font-family: Myriad Pro;
  font-size: 72px;
  color: #CCCCCC;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-cont {
  background: #FFFEF8;

  display: flex;
  justify-content: center;
  align-items: center;
}

.proficiencies-cont {
  width: 50%;

  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  width: 85%;
  margin: 10% 0;
}

li {
  margin-bottom: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.proficiency-label {
  font-family: Myriad Pro;
  font-size: 24px;
  color: #333333;

  display: inline;
  width: 20%;

}

svg {
  display: inline;
  width: 80%;
  height: 38px;
}

rect {
  stroke: #66949C;
  fill-opacity: 0;
  stroke-width: 5px;

  width: 100%;
  height: 100%;
}

.description-cont {
  width: 50%;
}

.description-cont h2 {
  font-family: Myriad Pro;
  font-size: 48px;
  color: #333333;

  margin-left: 15%;
  margin-right: 10%;
}

.description-cont p {
  font-family: Marion;
  font-size: 21px;
  color: #333333;

  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 5px;
}

.description-cont a {
  font-family: Marion;
  font-size: 16px;
  color: #D66436;
  text-decoration: none;

  margin-left: 15%;
  margin-right: 10%;
}

.transition-cont {
  background : #666666;
  height: 13%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-cont h3 {
  font-family: Myriad Pro;
  font-size: 36px;
  color: #111111;
}
